.sass-cache
.DS_Store
.s3cfg
npm-debug.log
dump.rdb
*.codekit
credentials
master_pipeline/MySQL_Prediction_Files/credentials.csv
master_pipeline/assault
master_pipeline/robbery
master_pipeline/violent
master_pipeline/LagBin
master_pipeline/output
master_pipeline/weatherjsons
master_pipeline/metar_weatherjsons
master_pipeline/old_city_csvs
master_pipeline/Weather_Forecasts.csv
master_pipeline/lagged_forecasts.csv
master_pipeline/binned_forecasts.csv
master_pipeline/MySQL_Prediction_Files/Predictions/
master_pipeline/MySQL_Prediction_Files/New_Rows/New_Rows_Assault.csv
master_pipeline/MySQL_Prediction_Files/New_Rows/New_Rows_AssaultMeans.csv
master_pipeline/MySQL_Prediction_Files/New_Rows/New_Rows_Robbery.csv
master_pipeline/MySQL_Prediction_Files/New_Rows/New_Rows_RobberyMeans.csv
master_pipeline/MySQL_Prediction_Files/New_Rows/New_Rows_ViolentCrime.csv
master_pipeline/MySQL_Prediction_Files/New_Rows/New_Rows_ViolentCrimeMeans.csv
master_pipeline/MySQL_Prediction_Files/SurpriseCSV/Predictions_and_Surprises.csv
Data_temp
311/data
Training_Pipeline/data
Training_pipeline/jobs
Training_Pipeline/config.yaml
Updater_Pipeline/jobs
Updater_Pipeline/data
Updater_Pipeline/config.yaml
Updater_Pipeline/deprecated
new_master_pipeline/camden/output/prediction_violent_count.csv
new_master_pipeline/camden/violent/models/NNmodel_camden_nj-161123-violent100_hn35_200_cell.02_1.rds
Update_Master_Pipeline_Inputs/output/camden_nj_cell_ids.txt
Update_Master_Pipeline_Inputs/output/camden_nj_grid_tract_map.csv
Update_Master_Pipeline_Inputs/output/shapefile/shp.cpg
Update_Master_Pipeline_Inputs/output/shapefile/shp.dbf
Update_Master_Pipeline_Inputs/output/shapefile/shp.prj
Update_Master_Pipeline_Inputs/output/shapefile/shp.shp
Update_Master_Pipeline_Inputs/output/shapefile/shp.shx
